.tests__wrap{
  margin: 0 auto;
  max-width: 1380px;



  .card_wrap {

    .card {
      margin-bottom: 30px;
      .closeModal {
        position: absolute;
        top: 14px;
        right: 12px;
        width: 24px;
        height: 24px;
        opacity: 0.2;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .closeModal::before,
      .closeModal::after {
        content: '';
        position: absolute;
        top: 10px;
        display: block;
        width: 24px;
        height: 3px;
        background: #000;
      }

      .closeModal::before {
        transform: rotate(45deg);
      }

      .closeModal::after {
        transform: rotate(-45deg);
      }

      min-width: 318px;
      min-height: 150px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;
      border-radius: 20px;
      margin-right: 30px;
      position: relative;

      &:active{
        background-color: red;
        transition: background-color 2s ease-out;
      }

      &:hover {

        cursor: pointer;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
      }

    }
  }
}
