
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li
{
    margin: 0;
    padding: 0;
    border: 0;
}


ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}


